torch>=1.4
diffusers==0.10.2
transformers
scipy
slack-sdk
slack-bolt
ipython==8.13.1
sqlalchemy>=2.0
astor
ftfy
accelerate
pyngrok==4.1.1
flask_ngrok
openai
python-dotenv
langchain
pypdf
pandas==1.5.3
pandasai==1.1
